@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7psDJB9cme_xc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZclSdi18S0xR41YDw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lujVj9_mf.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmRdu3cOWxy40.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'), url(https://fonts.gstatic.com/s/sourceserifpro/v5/neIXzD-0qpwxpaWvjeD0X88SAOeasc8btSKqxKcsdrOPbQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* -- Variables ----------------------------------------------- */

$font-sans: 'Source Sans Pro', Roboto, sans-serif;
$font-serif: 'Source Serif Pro', Georgia, serif;
$blue-pale: #cdf;
$blue-light: #03a;
$blue-med: #00268e;
$blue-dark:  #001a70;
$green-med: #a3e35e;
$gray-pale: #f4f4f7;
$color_accent: #03a;
$color_accent_light: lighten(#03a,10);

/* -- Page styling -------------------------------------------- */

body, 
html, 
select[multiple="multiple"] option {
    font-family: $font-sans;
    font-weight: 400;
}

a:hover {
    color: inherit;
    font-style: normal;
}

.site-container img {
    max-width: 600px;
}

.nsm-short-item:not(.nsm-e135) {
    color: black;
}

.nav-panel--main-menu .nav-panel__nav {
    background-color: $blue-light;
    border-top: 4px solid $blue-light;
}

.c-accordion__link:link, .c-accordion__item a, a, a:hover, a:focus {
    color: $blue-light;
}

a.nsm-brief-action-link span.nsm-short-item, 
.nsm-short-item > a {
    color: $blue-light;
    font-weight: 700;
}

.nsm-hit-text {
    background-color: rgba(167,223,94,0.3);
    padding: 2px 3px;
    border-radius: 3px;
    font-style: normal;
}

.c-title-detail-actions__btn:link, .c-title-detail-actions__btn:visited, 
.has-sidebar .secondary-content .c-title-detail-actions__btn:link, 
.has-sidebar .secondary-content .c-title-detail-actions__btn:visited {
    color: $blue-med;
    font-weight: 700;
    background-color: $blue-pale;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px;
    text-transform: capitalize;
    font-size: 1.1em;
    font-family: $font-serif;
}

.c-title-detail-actions__btn:link:hover, 
.c-title-detail-actions__btn:visited:hover, 
.c-title-detail-actions__btn:link:hover, 
.c-title-detail-actions__btn:visited:hover, 
.has-sidebar .secondary-content .c-title-detail-actions__btn:link:hover, 
.has-sidebar .secondary-content .c-title-detail-actions__btn:visited:hover {
    color: white;
    background-color: $blue-light;
}

.c-add-to-my-list:link, 
.c-add-to-my-list:visited {
    font-size: 1.2em;
    font-weight: 700;
    font-family: $font-serif;
    color: $blue-light;
    padding: 0;
    margin-left: 20px;
}

.c-add-to-my-list::before {
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    margin-right: 5px;
    content:"\e081";
    opacity: 0.5;
}

.site-footer__secondary-content, 
.c-results-utility--full, 
.c-results-utility--partial, 
.c-results-utility-sort, 
.nav-panel--main-menu .nav-panel__top-nav, 
.nav-panel, 
.site-header {
    background-color: $blue-dark;
}

.site-footer__main {
    background-color: $blue-med;
}

.nav--footer .expandable-block-nav .nav__link-level-2:link, 
.nav--footer .expandable-block-nav .nav__link-level-2:visited {
    font-weight: 400;
}

.pagination > .active > a, 
.pagination > .active > a:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span, 
.pagination > .active > span:hover, 
.pagination > .active > span:focus {
    background-color: $blue-light;
}

.c-accordion__title a:link, 
.c-accordion__title a:visited, 
.c-search-header__search-options-label--large, 
.drawer-head, 
.c-accordion-lvl2__title a:link, 
.c-accordion-lvl2__title a:visited {
    font-family: $font-serif;
    font-weight: 700;
    color: $blue-light;
    font-size: 1.1em;
}

.c-accordion__title a:link, 
.c-accordion__title a:visited, 
.c-search-header__search-options-label--large, 
.drawer-head {
    font-size: 1.2em;
}

.c-accordion__label-narrowsearch, 
.c-accordion__span-count {
    font-weight: 400;
}

.site-header__branch, 
.site-header__branch--no-name.site-header__branch--has-logo {
    background-color: $blue-light;
    padding: 50px 20px;
}

.btn, 
a.btn {
    background-color: $blue-light;
    color: white;
    border-radius: 3px;
    border: 0;
    font-weight: 700;
    font-family: $font-sans;
}

#buttonDoSearchLabel {
    font-weight: 400;
}

.btn:hover, 
a.btn:hover {
    background-color: black;
}
.c-title-detail-actions__btn:link .glyphicon, 
.c-title-detail-actions__btn:visited .glyphicon,
a,
a:visited,
.c-accordion__label-narrowsearch, 
span.nsm-short-item a.nsm-browse-link {
    background-color: transparent;
    color: $blue-light;
}

.c-title-detail-actions__btn:link:hover .glyphicon, 
.c-title-detail-actions__btn:visited:hover .glyphicon {
    background-color: transparent;
    color: white;
}

a:hover,
a:visited:hover,
.c-accordion__label-narrowsearch:hover {
    color: black;
}

div.c-search-header__search-box-div {
    border-radius: 3px;
}

.availability__table-container.table-responsive table.table th, 
.availability__table-container.table-responsive a.group {
    font-family: $font-serif;
    font-weight: bold;
    color: $blue-med;
}
 
.nav-panel--main-menu .nav-panel__nav .nav__link-level-1:link, 
.nav-panel--main-menu .nav-panel__nav .nav__link-level-1:visited {
    background-color: $blue-light;
    font-family: $font-serif;
    font-weight: bold;
}

tr.headings-patrongrid th {
    background-color: $blue-light;
    border: 2px solid white!important;
}

.c-accordion__heading {
    background-color: $blue-light;
}

.c-accordion__list--show-bullets {
    list-style: none;
    padding-left: 0;
}

.c-accordion__body {
    padding-left: 18px!important;
}

.c-results-utility-display-count {
    background-color: $blue-dark;
}

.c-results-utility-display-count, .c-results-utility-prev, .c-results-utility-next {
    background-color: $blue-med;
}

.c-accordion__heading {
    background-color: transparent;
}

/* -- Item Full Detail ---------------------------------------- */

.nsm-brief-label {
    font-size: 13px;
    text-transform: uppercase;
}

.nsm-brief-primary-title-group {
    font-size: 1.4em;
    font-family: $font-serif;
    font-weight: 700;
    color: $blue-light;
}

.c-title-detail-actions__list {
    border-bottom: 0;
}

.glyphicon-phone:before {
    content:"\e111";
    color: $green-med;
}

.availability__table-container.table-responsive table.table tbody tr.piece {
    background: $gray-pale;
    border: 2px solid white;
}

.availability__table-container.table-responsive th.Holdings:first-child {
    padding-left: 8px;
}

table .group img, 
table .group .glyphicon {
    font-size: 12px;
}

.drawer-body {
    padding: 5px 20px;
}

.nsm-full-standard-group {
    font-size: 1.1em;
}

.nsm-full-content {
    border-bottom: 1px solid $gray-pale;
}

.nsm-full-label, 
.c-search-header__label {
    text-transform: uppercase;
    font-size: 0.75em;
    line-height: 2em;
}

div.nsm-long-item {
    text-indent: 0;
}

.c-title-detail-actions__list {
    border-bottom: 0;
}

.expandable-block-nav .nav__link-level-1:link, 
.expandable-block-nav .nav__link-level-1:visited {
    background-color: rgba(255,255,255,0.3);
}
 
.nav-panel--main-menu .nav-panel__nav .nav__link-level-1:link, 
.nav-panel--main-menu .nav-panel__nav .nav__link-level-1:visited {
    color:white;
}

div.nsm-long-item a.nsm-browse-link,
.c-previous-titles__image-title-author-link:link, 
.c-previous-titles__image-title-author-link:visited, 
.c-previous-titles __image-title-author-link-li:link, 
.c-previous-titles __image-title-author-link-li:visited, 
.c-previous-titles __image-title-author-link-ul:link, 
.c-previous-titles __image-title-author-link-ul:visited,
.c-previous-titles__recently-viewed:link, 
.c-previous-titles__recently-viewed:visited,
.c-title-detail-accordion-util__title-link:link, 
.c-title-detail-accordion-util__title-link:visited {
    color: $blue-light;
}

td.location .group, td.location a.group {
    background-color: transparent;
    color: $blue-light;
}

.drawer-head:hover {
    background-color: $blue-pale;
}

div.availability__table-container.table-responsive table th {
    background-color: $blue-pale;
}

.c-results-utility-prev__link:link, 
.c-results-utility-prev__link:visited, 
.c-results-utility-next__link:link, 
.c-results-utility-next__link:visited {
    background-color: $blue-light;
}